### Wyscout 이벤트 데이터 변환하기

다운로드된 데이터를 수강생이 이해하기 쉽도록 (미리 만들어진 소스코드를 사용하여) 변환하는 부분입니다.<br>
따라서 별도의 코드 이해가 필요하지 않으며, 아래 코드를 실행시켜서 경기별 데이터 파일을 생성해 주시기만 하면 됩니다.

In [3]:
from src.data_utils import refine_and_save_events

refine_and_save_events(dataset_name='England')
refine_and_save_events(dataset_name='Spain')
refine_and_save_events(dataset_name='Italy')
refine_and_save_events(dataset_name='Germany')
refine_and_save_events(dataset_name='France')
refine_and_save_events(dataset_name='European_Championship')
refine_and_save_events(dataset_name='World_Cup')

English first division : 100%|██████████| 380/380 [00:15<00:00, 25.19it/s]
Spanish first division : 100%|██████████| 380/380 [00:14<00:00, 27.08it/s]
Italian first division : 100%|██████████| 380/380 [00:15<00:00, 25.08it/s]
German first division  : 100%|██████████| 306/306 [00:12<00:00, 25.33it/s]
French first division  : 100%|██████████| 380/380 [00:14<00:00, 25.58it/s]
European Championship  : 100%|██████████| 51/51 [00:01<00:00, 27.35it/s]
World Cup              : 100%|██████████| 64/64 [00:02<00:00, 25.25it/s]

In [4]:
import pandas as pd

match_events = pd.read_pickle(f'data/refined_events/World_Cup/2057988.pkl')
match_events

,match_id,event_id,period,time,team_id,team_name,player_id,player_name,event_type,sub_event_type,tags,start_x,start_y,end_x,end_y
0,2057988,260662125,1H,1.157,3148,Germany,3319,M. Özil,Pass,Simple pass,[Accurate],52.00,34.68,39.52,36.04
1,2057988,260662126,1H,2.669,3148,Germany,14723,T. Kroos,Pass,Simple pass,[Accurate],39.52,36.04,46.80,32.64
2,2057988,260662127,1H,4.965,3148,Germany,3319,M. Özil,Pass,Simple pass,[Accurate],46.80,32.64,32.24,25.84
3,2057988,260662128,1H,8.096,3148,Germany,134383,N. Süle,Pass,Simple pass,[Accurate],32.24,25.84,38.48,32.64
4,2057988,260662129,1H,9.505,3148,Germany,14723,T. Kroos,Pass,Simple pass,[Accurate],38.48,32.64,27.04,24.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659,2057988,260664023,2H,3213.652,3148,Germany,134383,N. Süle,Others on the ball,Touch,[],85.28,31.96,72.80,40.12
1660,2057988,260664025,2H,3216.522,3148,Germany,14723,T. Kroos,Pass,Simple pass,[Accurate],72.80,40.12,90.48,51.68
1661,2057988,260664027,2H,3218.856,3148,Germany,14732,T. Müller,Pass,Cross,"[Key pass, Right foot, High, Accurate]",90.48,51.68,96.72,36.72
1662,2057988,260664031,2H,3219.998,3148,Germany,14795,M. Hummels,Shot,Shot,"[Head/body, Opportunity, Position: Out high le...",96.72,36.72,104.00,34.00
1663,2057988,260664180,2H,3258.367,14855,Korea Republic,256043,Hyun-Woo Cho,Free kick,Goal kick,[],0.00,34.00,NaN,NaN